<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eduquest.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eduquest Mobile</name>
    <description>
        Eduquest Mobile Application
    </description>
    <author email="ismail@eduqestindia.in" href="www.eduquestindia.in">
        Mohamed Ismail
    </author>
    <gap:config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.NoTitleBar"></application>
    </gap:config-file>
    <content src="index.html" />
    <access origin="*" />
</widget>
