<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
     xmlns:gap   = "http://phonegap.com/ns/1.0"
     id          = "com.phonegap.eduquest"
     versionCode = "10"
     version     = "1.0.0" >
  <name>Eduquest Mobile</name>
  <description>
    Eduquest Mobile Application
  </description>
  <author email="ismail@eduqestindia.in" href="www.eduquestindia.in">
    Mohamed Ismail
  </author>
  <preference name="Fullscreen" value="false" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
  <gap:plugin name="SplashScreen" value="CDVSplashScreen" />
  <plugin name="SplashScreen" value="CDVSplashScreen" />
  <gap:splash src="images/Splash.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="images/Splash.png" gap:platform="ios" width="640" height="1136" />
  <content src="index.html" />
  <access origin="*" />
</widget>
