.bg
{
    background: url(../images/bg-others.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-fnb
{
    background: url(../images/bg-fnb.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ui-icon-courseList1:after{content:url(../images/icon1.png)} 
.ui-icon-courseList2:after{content:url(../images/icon2.png)} 
.ui-icon-courseList3:after{content:url(../images/icon3.png)} 
.ui-icon-courseList4:after{content:url(../images/icon4.png)} 
.ui-icon-course1
{
    background-color: rgb(64,49,82);  
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("../images/course1.png");
}
    .ui-icon-course2
{
    background-color: rgb(247,150,70); 
    background-repeat: no-repeat;
    background-position: left top;   
    background-image: url("../images/course2.png");
}
    .ui-icon-course3
{
    background-color: rgb(79,98,40);  
    background-repeat: no-repeat;
    background-position: right top;   
    background-image: url("../images/course3.png");
}
    .ui-icon-course4
{
    background-color: rgb(128,0,0);     
    background-repeat: no-repeat;
    background-position: left top;   
    background-image: url("../images/course4.png");
}
.icon {
      font-size: 32px;
}