.bg
{
    -webkit-backface-visibility: hidden;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 1%, #f9c667 71%, #f79621 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7f7f7), color-stop(71%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 1%,#f9c667 71%,#f79621 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 1%,#f9c667 71%,#f79621 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 1%,#f9c667 71%,#f79621 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 1%,#f9c667 71%,#f79621 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */    
}
.ui-icon-courseList1 
{
 	background-image: url("../images/courseList1.png");
}
.ui-icon-courseList2 
{
 	background-image: url("../images/courseList2.png");
}
.ui-icon-courseList3
{
 	background-image: url("../images/courseList3.png");
}
.ui-icon-courseList4
{
 	background-image: url("../images/courseList4.png");
}
.ui-icon-course1
{
    background-color: White;  
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("../images/course1.png");
}
    .ui-icon-course2
{
    background-color: White; 
    background-repeat: no-repeat;
    background-position: left top;   
    background-image: url("../images/course2.png");
}
    .ui-icon-course3
{
    background-color: White;  
    background-repeat: no-repeat;
    background-position: right top;   
    background-image: url("../images/course3.png");
}
    .ui-icon-course4
{
    background-color: White;     
    background-repeat: no-repeat;
    background-position: left top;   
    background-image: url("../images/course4.png");
}
.ui-navicon
{
    width:25px;
    height:25px;
    border-radius: 15px;
}
.icon {
      font-size: 32px;
    }