<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
     xmlns:gap   = "http://phonegap.com/ns/1.0"
     id          = "com.eduquestMobile"
     versionCode = "3"
     version     = "3.5.1" >
  <name>Eduquest Mobile</name>
  <description>
    Eduquest Mobile App
  </description>
  <author email="ismail@eduqestindia.in" href="www.eduquestindia.in">
    Mohamed Ismail - ISZA Technologies
  </author>

  <preference name="permissions"                value="none"/>
  <preference name="phonegap-version"           value="3.5.0" />
  <preference name="fullscreen"                 value="true" />
  <preference name="exit-on-suspend"            value="true" />
  <preference name="show-splash-screen-spinner" value="true" />
  <preference name="auto-hide-splash-screen"    value="false" />

  <gap:splash src="assets/android/images/default.png" />
  <icon src="assets/android/images/appicon.png" />
        
  <!-- iPhone and iPod touch  -->
  <icon src="assets/iphone/appicon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="assets/iphone/appicon-60@2x.png" gap:platform="ios" width="120" height="120" />
  <icon src="assets/iphone/appicon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="assets/iphone/appicon-76@2x.png" gap:platform="ios" width="152" height="152" />
  <icon src="assets/iphone/appicon-Small.png" gap:platform="ios" width="29" height="29" />
  <icon src="assets/iphone/appicon-Small@2x.png" gap:platform="ios" width="58" height="58" />
  <icon src="assets/iphone/appicon-Small-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="assets/iphone/appicon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />
  <icon src="assets/iphone/appicon.png" gap:platform="ios" width="57" height="57" />
  <icon src="assets/iphone/appicon@2x.png" gap:platform="ios" width="114" height="114" />
  <icon src="assets/iphone/appicon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="assets/iphone/appicon-72@2x.png" gap:platform="ios" width="144" height="144" />
  <icon src="assets/iphone/appicon-Small-50.png" gap:platform="ios" width="50" height="50" />
  <icon src="assets/iphone/appicon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />

  <!-- Android -->
  <icon src="assets/android/appicon.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="assets/android/appicon.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="assets/android/appicon.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="assets/android/appicon.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="assets/android/appicon.png" gap:platform="android" gap:qualifier="xxhdpi" />

  <!-- iPhone and iPod touch -->
  <gap:splash src="assets/iphone/Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="assets/iphone/Default@2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="assets/iphone/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="assets/iphone/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="assets/iphone/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="assets/iphone/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
  <gap:splash src="assets/iphone/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

  <!-- Android -->
  <gap:splash src="assets/android/images/res-long-port-ldpi/default.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="assets/android/images/res-long-port-mdpi/default.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="assets/android/images/res-long-port-hdpi/default.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="assets/android/images/res-long-port-xhdpi/default.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="assets/android/images/res-long-port-xxhdpi/default.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
  <gap:splash src="assets/android/images/res-long-land-xxhdpi/default.png" gap:platform="android" gap:qualifier="land-xxhdpi" />


  <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
  <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
  </gap:config-file>  
  <access origin="*" />
</widget>
